  h1, h2 {
    text-align: center;
    line-height: 20px
  }
  h1 {
      color: rgba(0,0,0,.8);
  }

  h2 {
    color: rgba(0,0,0,.8);
  }

  .social-container {
    margin:0 auto;
    padding: 15px 0;
    width:200px;
    height:100%;
  }

  /* Add this ID to a section or something you want to change the background-color */
  #social-section {
    padding:60px 0;
    -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  }

  /* Button Styles */
  .social-container a {
  display: block;
  width:200px;
  line-height: 40px;
  border: 1px solid rgba(0,0,0,.1);
  color: rgba(0,0,0,.6);
  margin:20px 0;
  text-decoration: none;
  text-align:center;
  }
