<div class="d-flex mt-2 flex-columm mb-3 flex-wrap">
  <h2>
    <strong>
      Software engineer
    </strong>
  </h2>
  <p>
    Hi, I'm Axel, a software engineer who likes the backend and databases although I'm not closed to the frontend.
    <br>I've worked with c#, relational databases and angular.
    <br>I'm from Mexico and this page is the result of an angular course to practice my knowledge that I have been taking so far.
    <br>My experience in a real work has been two internships, one at The Pyramid at Grand Oasis and the current one is at Dapper Technologies.
  </p>
  <p>See my work with angular in the side bar</p>
</div>
